.form__label {
    display: block;
    
    margin-bottom: 5px;
}

.form__input {
    padding: 8px;
    width: 100%;
}

.form {
    width: 100%;
    text-align: left;
}

.form__btn {
    margin-top: 5px;
    background-color: rgb(0, 66, 128);
    color: white;
}